<div class="first">

    <div class="conn">
        <!--ui-sref跳转-->
       
        <ul class="listforyuan">
	        <li style="width:100px" ui-sref=".pageone"><a href="">火</a></li>
	        <li style="width:100px" ui-sref=".pageone"><a href="">雄心</a></li>
	        <li style="width:100px" ui-sref=".pageone"><a href="">自由</a></li>
	        <li style="width:100px" ui-sref=".pageone"><a href="">联合</a></li>
	        <li style="width:100px" ui-sref=".pageone"><a href="">雷</a></li>
	        <li style="width:100px" ui-sref=".pageone"><a href="">林</a></li>
	        <li style="width:100px" ui-sref=".pageone"><a href="">风</a></li>
	        <li style="width:100px" ui-sref=".pageone"><a href="">山</a></li>
	        <li style="width:100px" ui-sref=".pageone"><a href="">阴</a></li>
        </ul>
    </div>
    
    <div>
        <!--PageTap嵌套的视图html展示的地方-->
        <div class="skin" ui-view=""/>
    </div>
    
    <div class="firstdefu"></div>
    
        
    <div class="showskin"></div>
</div>